* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 70px;
    /*border: 3px solid red;*/
    background-image: url(../img/pattern.png);
    background-size: cover;
    background-size: 20%;
    background-color: #4B96ED;
}

.section-class {
    margin: 30px 0;
}

.bg-span {
    background-color: yellow;
}